templates/atencionCliente.jade
//- index.jade
doctype html
html(lang="en")
  head
    title Ria Currency Exchange
    include partials/head.jade

  body#atencionCliente
    include partials/header.jade
    include partials/subHeader.jade

    main.bodyContent

      h1 Atención al cliente

      section.info.block
        .container-fluid
          .row
            .col-md-6
              .telf
                a(href="#") 917 613 762
                  span.glyphicon.glyphicon-earphone
                .open_hours
                  p De lunes a viernes, de 9 a 22h.
                  p Fines de semana y festivos, de 10 a 22 h.
            .col-md-6
              .email
                p ¿Tienes una empresa?
                a(href="servicioEmpresas.html") Contacta con nosotros

      section.infoForm.block
        .title
          h2 Formulario de contacto
            span.glyphicon.glyphicon-envelope
        form(action="confirmacion.html")
          fieldset
            .container-fluid
              .row.inputs
                .col-md-6.col
                  label(for="name") Nombre
                  input#name.selectEffect(type="text")
                .col-md-6.col
                  label(for="name2") Primer apellido
                  input#name2.selectEffect(type="text")
              .row.inputs
                .col-md-6.col
                  label(for="email") Correo electrónico
                  input#email.selectEffect(type="text")
                .col-md-6.col
                  label.selected Motivo de la consulta
                  select#motivo.selectEffect(type="text" placeholder="Motivo de la consulta")
                    option Selecciona una opción
                    option Cambio en oficina física
                    option Pedido o reserva online
                    option Solicitud de información
                    option Propuesta de negocio
                    option Queja o reclamación
                    option Felicitación
                    option Otros
              .row.inputs
                .col-md-12.col
                  label(for="mensaje") Mensaje
                  textarea#mensaje.selectEffect(rows="5" maxlength=999)

              .row.checkers
                .col-lg-12.col
                  input#CheckPolicy(type="checkbox" name="CheckPolicy" value="")
                  label(for="CheckPolicy") Acepto la&nbsp;
                    a(href="#") política de privacidad
              .row.checkers
                .col-lg-12.col
                  input#CheckTerms(type="checkbox" name="CheckTerms" value="")
                  label(for="CheckTerms") Acepto los&nbsp;
                    a(href="#") términos y condiciones

              .row.submit
                .col-lg-12.col
                  input(type="submit" value="Enviar")

    section.ventajas.container-fluid
      h2 Conoce nuestras ventajas
      a(href="#").glyphicon.glyphicon-chevron-left
      a(href="#").glyphicon.glyphicon-chevron-right

      .row
        .col-xs-4.img_cont
          img(src="img/casa_white.png")
          p Recibe tu moneda extranjera donde quieras

        .col-xs-4.img_cont.active
          img(src="img/reloj_white.png")
          p Amplios horarios de apertura

        .col-xs-4.img_cont
          img(src="img/tabla-rates_white.png")
          p Los mejores tipos de cambio



    include partials/footer.jade

dist/atencionCliente.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Ria Currency Exchange</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="initial-scale=1.0, width=device-width">
    <link rel="shortcut icon" href="favicon.ico" type="image/icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link type="text/css" href="css/styles.css" rel="stylesheet"><!-JS- jQuery -->
    <script src="js/jquery-3.2.1.min.js"></script><!-JS y CSS- jQuery UI-->
    <script src="js/jquery-ui.js"></script>
    <link rel="stylesheet" href="css/jquery-ui.css"><!-JS- Bootstrap -->
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="js/bootstrap-select.min.js"></script><!-JS- FontAwesome -->
    <script src="js/fontawesome.js"></script><!-JS- Common -->
    <script src="js/common.js"></script><!-CSS- Bootstrap -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"><!-CSS- Bootstrap -->
    <link rel="stylesheet" href="css/bootstrap-select.min.css"><!-CSS- Bootstrap -->
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  </head>
  <body id="atencionCliente">
    <header class="header">
      <div class="wrapper">
        <div class="img_container"><a href="index.html"><img src="img/logo.png" alt="logo Ria"></a></div><span class="hamburguesa">
          <div class="glyphicon glyphicon-menu-hamburger"></div></span>
        <div class="lang_select">
          <form>
            <fieldset>
              <div class="block_input country">
                <label for="pais">País de cambio</label>
                <select id="pais" data-width="100%" class="selectpicker">
                  <option data-icon="spain">Spain</option>
                  <option data-icon="francia">France</option>
                  <option data-icon="italia">Italy</option>
                  <option data-icon="gbp">United Kingdom</option>
                  <option data-icon="usd">United States</option>
                  <option data-icon="brl">Brasil</option>
                </select>
              </div>
              <div class="block_input lang">
                <label for="idioma">Idioma</label>
                <select id="idioma" data-width="100%" class="selectpicker">
                  <option>English</option>
                  <option>Spanish</option>
                  <option>French</option>
                  <option>Italian</option>
                </select>
              </div>
            </fieldset>
          </form>
        </div>
        <nav>
          <ul class="menu MenuClose">
            <li><a href="#" class="active">CAMBIO DE DIVISAS</a></li>
            <li><a href="oficinas.html">OFICINAS DE CAMBIO</a></li>
            <li><a href="atencionCliente.html">ATENCIÓN AL CLIENTE</a></li>
            <li><a href="servicios.html">SERVICIOS</a></li>
            <li><a href="#">SOBRE RIA</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <div class="subHeader"><img src="img/HEADER-CURRENCY.jpg" alt="img background for header"></div>
    <main class="bodyContent">
      <h1>Atención al cliente</h1>
      <section class="info block">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-6">
              <div class="telf"><a href="#">917 613 762<span class="glyphicon glyphicon-earphone"></span></a>
                <div class="open_hours">
                  <p>De lunes a viernes, de 9 a 22h.</p>
                  <p>Fines de semana y festivos, de 10 a 22 h.</p>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="email">
                <p>¿Tienes una empresa?</p><a href="servicioEmpresas.html">Contacta con nosotros</a>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="infoForm block">
        <div class="title">
          <h2>Formulario de contacto<span class="glyphicon glyphicon-envelope"></span></h2>
        </div>
        <form action="confirmacion.html">
          <fieldset>
            <div class="container-fluid">
              <div class="row inputs">
                <div class="col-md-6 col">
                  <label for="name">Nombre</label>
                  <input id="name" type="text" class="selectEffect">
                </div>
                <div class="col-md-6 col">
                  <label for="name2">Primer apellido</label>
                  <input id="name2" type="text" class="selectEffect">
                </div>
              </div>
              <div class="row inputs">
                <div class="col-md-6 col">
                  <label for="email">Correo electrónico</label>
                  <input id="email" type="text" class="selectEffect">
                </div>
                <div class="col-md-6 col">
                  <label class="selected">Motivo de la consulta</label>
                  <select id="motivo" type="text" placeholder="Motivo de la consulta" class="selectEffect">
                    <option>Selecciona una opción</option>
                    <option>Cambio en oficina física</option>
                    <option>Pedido o reserva online</option>
                    <option>Solicitud de información</option>
                    <option>Propuesta de negocio</option>
                    <option>Queja o reclamación</option>
                    <option>Felicitación</option>
                    <option>Otros</option>
                  </select>
                </div>
              </div>
              <div class="row inputs">
                <div class="col-md-12 col">
                  <label for="mensaje">Mensaje</label>
                  <textarea id="mensaje" rows="5" maxlength="999" class="selectEffect"></textarea>
                </div>
              </div>
              <div class="row checkers">
                <div class="col-lg-12 col">
                  <input id="CheckPolicy" type="checkbox" name="CheckPolicy" value="">
                  <label for="CheckPolicy">Acepto la&nbsp;<a href="#">política de privacidad</a></label>
                </div>
              </div>
              <div class="row checkers">
                <div class="col-lg-12 col">
                  <input id="CheckTerms" type="checkbox" name="CheckTerms" value="">
                  <label for="CheckTerms">Acepto los&nbsp;<a href="#">términos y condiciones</a></label>
                </div>
              </div>
              <div class="row submit">
                <div class="col-lg-12 col">
                  <input type="submit" value="Enviar">
                </div>
              </div>
            </div>
          </fieldset>
        </form>
      </section>
    </main>
    <section class="ventajas container-fluid">
      <h2>Conoce nuestras ventajas</h2><a href="#" class="glyphicon glyphicon-chevron-left"></a><a href="#" class="glyphicon glyphicon-chevron-right"></a>
      <div class="row">
        <div class="col-xs-4 img_cont"><img src="img/casa_white.png">
          <p>Recibe tu moneda extranjera donde quieras</p>
        </div>
        <div class="col-xs-4 img_cont active"><img src="img/reloj_white.png">
          <p>Amplios horarios de apertura</p>
        </div>
        <div class="col-xs-4 img_cont"><img src="img/tabla-rates_white.png">
          <p>Los mejores tipos de cambio</p>
        </div>
      </div>
    </section>
    <footer class="footer">
      <div class="skyline"><img src="img/imgFooter.png" alt="Skyline"></div>
      <div class="wrapper">
        <div class="container-fluid">
          <div class="row">
            <div class="col-xs-3 col">
              <ul>
                <li><a href="#">Cambio de divisas</a></li>
                <li><a href="#">Oficinas de cambio</a></li>
                <li><a href="atencionCliente.html">Atención al cliente</a></li>
                <li><a href="servicioEmpresas.html">Servicio a empresas</a></li>
              </ul>
            </div>
            <div class="col-xs-3 col">
              <ul>
                <li><a href="servicios.html">Servicios</a></li>
                <li><a href="#">Sobre Ria</a></li>
                <li><a href="#">Términos y condiciones</a></li>
              </ul>
            </div>
            <div class="col-xs-3 col">
              <ul>
                <li>
                  <p>Contacto</p>
                </li>
                <li><a href="mailto:#">email@riacurency.es</a></li>
                <li><a href="tel:#">Tel: 91 761 37 62</a></li>
              </ul>
            </div>
            <div class="col-sm-3 col"><img src="img/logo.png" alt="logo Ria"></div>
          </div>
        </div>
      </div>
      <div class="decoration">© 2017 Ria</div>
    </footer>
  </body>
</html>
