templates/ciudades.jade
//- index.jade
doctype html
html(lang="en")
  head
    title Ria Currency Exchange
    include partials/head.jade

  body
    include partials/header.jade
    include partials/subHeader.jade

    main.bodyContent.ciudades
      .previousPage
        a.cont(href="index.html")
          img(src="img/btn_atras.png")
        h2 Selecciona la ciudad donde quieres cambiar tu divisa

      h3 Ciudades en las que estamos

      .citySelector.container-fluid
        .row
          .col-sm-6.col
            a(href="oficinas.html")
              .city(href="index.html" style="background-image: url('img/barcelona.jpg');")
                p BARCELONA
          .col-sm-6.col
            a(href="oficinas.html")
              .city(href="index.html" style="background-image: url('img/madrid.jpg');")
                p MADRID
          .col-sm-6.col
            a(href="oficinas.html")
              .city(href="index.html" style="background-image: url('img/mallorca.jpg');")
               p PALMA DE MALLORCA
          .col-sm-6.col
            a(href="oficinas.html")
              .city(href="index.html" style="background-image: url('img/valencia.jpg');")
               p VALENCIA

    include partials/footer.jade

dist/ciudades.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Ria Currency Exchange</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="initial-scale=1.0, width=device-width">
    <link rel="shortcut icon" href="favicon.ico" type="image/icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link type="text/css" href="css/styles.css" rel="stylesheet"><!-JS- jQuery -->
    <script src="js/jquery-3.2.1.min.js"></script><!-JS y CSS- jQuery UI-->
    <script src="js/jquery-ui.js"></script>
    <link rel="stylesheet" href="css/jquery-ui.css"><!-JS- Bootstrap -->
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="js/bootstrap-select.min.js"></script><!-JS- FontAwesome -->
    <script src="js/fontawesome.js"></script><!-JS- Common -->
    <script src="js/common.js"></script><!-CSS- Bootstrap -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"><!-CSS- Bootstrap -->
    <link rel="stylesheet" href="css/bootstrap-select.min.css"><!-CSS- Bootstrap -->
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  </head>
  <body>
    <header class="header">
      <div class="wrapper">
        <div class="img_container"><a href="index.html"><img src="img/logo.png" alt="logo Ria"></a></div><span class="hamburguesa">
          <div class="glyphicon glyphicon-menu-hamburger"></div></span>
        <div class="lang_select">
          <form>
            <fieldset>
              <div class="block_input country">
                <label for="pais">País de cambio</label>
                <select id="pais" data-width="100%" class="selectpicker">
                  <option data-icon="spain">Spain</option>
                  <option data-icon="francia">France</option>
                  <option data-icon="italia">Italy</option>
                  <option data-icon="gbp">United Kingdom</option>
                  <option data-icon="usd">United States</option>
                  <option data-icon="brl">Brasil</option>
                </select>
              </div>
              <div class="block_input lang">
                <label for="idioma">Idioma</label>
                <select id="idioma" data-width="100%" class="selectpicker">
                  <option>English</option>
                  <option>Spanish</option>
                  <option>French</option>
                  <option>Italian</option>
                </select>
              </div>
            </fieldset>
          </form>
        </div>
        <nav>
          <ul class="menu MenuClose">
            <li><a href="#" class="active">CAMBIO DE DIVISAS</a></li>
            <li><a href="oficinas.html">OFICINAS DE CAMBIO</a></li>
            <li><a href="atencionCliente.html">ATENCIÓN AL CLIENTE</a></li>
            <li><a href="servicios.html">SERVICIOS</a></li>
            <li><a href="#">SOBRE RIA</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <div class="subHeader"><img src="img/HEADER-CURRENCY.jpg" alt="img background for header"></div>
    <main class="bodyContent ciudades">
      <div class="previousPage"><a href="index.html" class="cont"><img src="img/btn_atras.png"></a>
        <h2>Selecciona la ciudad donde quieres cambiar tu divisa</h2>
      </div>
      <h3>Ciudades en las que estamos</h3>
      <div class="citySelector container-fluid">
        <div class="row">
          <div class="col-sm-6 col"><a href="oficinas.html">
              <div href="index.html" style="background-image: url('img/barcelona.jpg');" class="city">
                <p>BARCELONA</p>
              </div></a></div>
          <div class="col-sm-6 col"><a href="oficinas.html">
              <div href="index.html" style="background-image: url('img/madrid.jpg');" class="city">
                <p>MADRID</p>
              </div></a></div>
          <div class="col-sm-6 col"><a href="oficinas.html">
              <div href="index.html" style="background-image: url('img/mallorca.jpg');" class="city">
                <p>PALMA DE MALLORCA</p>
              </div></a></div>
          <div class="col-sm-6 col"><a href="oficinas.html">
              <div href="index.html" style="background-image: url('img/valencia.jpg');" class="city">
                <p>VALENCIA</p>
              </div></a></div>
        </div>
      </div>
    </main>
    <footer class="footer">
      <div class="skyline"><img src="img/imgFooter.png" alt="Skyline"></div>
      <div class="wrapper">
        <div class="container-fluid">
          <div class="row">
            <div class="col-xs-3 col">
              <ul>
                <li><a href="#">Cambio de divisas</a></li>
                <li><a href="#">Oficinas de cambio</a></li>
                <li><a href="atencionCliente.html">Atención al cliente</a></li>
                <li><a href="servicioEmpresas.html">Servicio a empresas</a></li>
              </ul>
            </div>
            <div class="col-xs-3 col">
              <ul>
                <li><a href="servicios.html">Servicios</a></li>
                <li><a href="#">Sobre Ria</a></li>
                <li><a href="#">Términos y condiciones</a></li>
              </ul>
            </div>
            <div class="col-xs-3 col">
              <ul>
                <li>
                  <p>Contacto</p>
                </li>
                <li><a href="mailto:#">email@riacurency.es</a></li>
                <li><a href="tel:#">Tel: 91 761 37 62</a></li>
              </ul>
            </div>
            <div class="col-sm-3 col"><img src="img/logo.png" alt="logo Ria"></div>
          </div>
        </div>
      </div>
      <div class="decoration">© 2017 Ria</div>
    </footer>
  </body>
</html>
