templates/confirmacion.jade
//- index.jade
doctype html
html(lang="en")
  head
    title Ria Currency Exchange
    include partials/head.jade

  body
    include partials/header.jade

    .background_cont.confirmacion
      .h1_cont
        h1 ¡Gracias por confiar en Ria!
      .background(style="background-image: url(img/django.jpg); ")


    main.bodyContent#confirmacion

      h2 Tu reserva se ha realizado correctamente.

      ul
        li
          p En breve recibirás un email con los detalles de la reserva.
        li
          p Por favor, asegúrate de traer un documento de identificación cuando vayas a recoger la divisa.

      .container-fluid.datos
        .row
          .col-xs-6.col.enum
            p Identificador:
          .col-xs-6.col.result
            p 123dasdasd
        .row
          .col-xs-6.col.enum
            p Cantidad a cambiar:
          .col-xs-6.col.result
            p 499,73 €
        .row
          .col-xs-6.col.enum
            p Cantidad a recibir:
          .col-xs-6.col.result
            p 569,00 $
        .row
          .col-xs-6.col.enum
            p Oficina de cambio:
          .col-xs-6.col.result
            p Puerta del sol, 28020 - Madrid
        .row
          .col-xs-6.col.enum
            p Teléfono oficina:
          .col-xs-6.col.result
            p 91 123 45 67
        .row
          .col-xs-6.col.enum
            p Fecha de recogida:
          .col-xs-6.col.result
            p 22/10/2017

        .row.botones
          .col-xs-6.cont.btn_secondary
            a(href="#") Guardar PDF
              img(src="img/pdf_btn.png")
          .col-xs-6.cont.btn_primary
            a(href="index.html") Volver al inicio

    include partials/footer.jade

dist/confirmacion.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Ria Currency Exchange</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="initial-scale=1.0, width=device-width">
    <link rel="shortcut icon" href="favicon.ico" type="image/icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link type="text/css" href="css/styles.css" rel="stylesheet"><!-JS- jQuery -->
    <script src="js/jquery-3.2.1.min.js"></script><!-JS y CSS- jQuery UI-->
    <script src="js/jquery-ui.js"></script>
    <link rel="stylesheet" href="css/jquery-ui.css"><!-JS- Bootstrap -->
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="js/bootstrap-select.min.js"></script><!-JS- FontAwesome -->
    <script src="js/fontawesome.js"></script><!-JS- Common -->
    <script src="js/common.js"></script><!-CSS- Bootstrap -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"><!-CSS- Bootstrap -->
    <link rel="stylesheet" href="css/bootstrap-select.min.css"><!-CSS- Bootstrap -->
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  </head>
  <body>
    <header class="header">
      <div class="wrapper">
        <div class="img_container"><a href="index.html"><img src="img/logo.png" alt="logo Ria"></a></div><span class="hamburguesa">
          <div class="glyphicon glyphicon-menu-hamburger"></div></span>
        <div class="lang_select">
          <form>
            <fieldset>
              <div class="block_input country">
                <label for="pais">País de cambio</label>
                <select id="pais" data-width="100%" class="selectpicker">
                  <option data-icon="spain">Spain</option>
                  <option data-icon="francia">France</option>
                  <option data-icon="italia">Italy</option>
                  <option data-icon="gbp">United Kingdom</option>
                  <option data-icon="usd">United States</option>
                  <option data-icon="brl">Brasil</option>
                </select>
              </div>
              <div class="block_input lang">
                <label for="idioma">Idioma</label>
                <select id="idioma" data-width="100%" class="selectpicker">
                  <option>English</option>
                  <option>Spanish</option>
                  <option>French</option>
                  <option>Italian</option>
                </select>
              </div>
            </fieldset>
          </form>
        </div>
        <nav>
          <ul class="menu MenuClose">
            <li><a href="#" class="active">CAMBIO DE DIVISAS</a></li>
            <li><a href="oficinas.html">OFICINAS DE CAMBIO</a></li>
            <li><a href="atencionCliente.html">ATENCIÓN AL CLIENTE</a></li>
            <li><a href="servicios.html">SERVICIOS</a></li>
            <li><a href="#">SOBRE RIA</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <div class="background_cont confirmacion">
      <div class="h1_cont">
        <h1>¡Gracias por confiar en Ria!</h1>
      </div>
      <div style="background-image: url(img/django.jpg); " class="background"></div>
    </div>
    <main id="confirmacion" class="bodyContent">
      <h2>Tu reserva se ha realizado correctamente.</h2>
      <ul>
        <li>
          <p>En breve recibirás un email con los detalles de la reserva.</p>
        </li>
        <li>
          <p>Por favor, asegúrate de traer un documento de identificación cuando vayas a recoger la divisa.</p>
        </li>
      </ul>
      <div class="container-fluid datos">
        <div class="row">
          <div class="col-xs-6 col enum">
            <p>Identificador:</p>
          </div>
          <div class="col-xs-6 col result">
            <p>123dasdasd</p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6 col enum">
            <p>Cantidad a cambiar:</p>
          </div>
          <div class="col-xs-6 col result">
            <p>499,73 €</p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6 col enum">
            <p>Cantidad a recibir:</p>
          </div>
          <div class="col-xs-6 col result">
            <p>569,00 $</p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6 col enum">
            <p>Oficina de cambio:</p>
          </div>
          <div class="col-xs-6 col result">
            <p>Puerta del sol, 28020 - Madrid</p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6 col enum">
            <p>Teléfono oficina:</p>
          </div>
          <div class="col-xs-6 col result">
            <p>91 123 45 67</p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6 col enum">
            <p>Fecha de recogida:</p>
          </div>
          <div class="col-xs-6 col result">
            <p>22/10/2017</p>
          </div>
        </div>
        <div class="row botones">
          <div class="col-xs-6 cont btn_secondary"><a href="#">Guardar PDF<img src="img/pdf_btn.png"></a></div>
          <div class="col-xs-6 cont btn_primary"><a href="index.html">Volver al inicio</a></div>
        </div>
      </div>
    </main>
    <footer class="footer">
      <div class="skyline"><img src="img/imgFooter.png" alt="Skyline"></div>
      <div class="wrapper">
        <div class="container-fluid">
          <div class="row">
            <div class="col-xs-3 col">
              <ul>
                <li><a href="#">Cambio de divisas</a></li>
                <li><a href="#">Oficinas de cambio</a></li>
                <li><a href="atencionCliente.html">Atención al cliente</a></li>
                <li><a href="servicioEmpresas.html">Servicio a empresas</a></li>
              </ul>
            </div>
            <div class="col-xs-3 col">
              <ul>
                <li><a href="servicios.html">Servicios</a></li>
                <li><a href="#">Sobre Ria</a></li>
                <li><a href="#">Términos y condiciones</a></li>
              </ul>
            </div>
            <div class="col-xs-3 col">
              <ul>
                <li>
                  <p>Contacto</p>
                </li>
                <li><a href="mailto:#">email@riacurency.es</a></li>
                <li><a href="tel:#">Tel: 91 761 37 62</a></li>
              </ul>
            </div>
            <div class="col-sm-3 col"><img src="img/logo.png" alt="logo Ria"></div>
          </div>
        </div>
      </div>
      <div class="decoration">© 2017 Ria</div>
    </footer>
  </body>
</html>
