dist/contactoReserva.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Ria Currency Exchange</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="initial-scale=1.0, width=device-width">
    <link rel="shortcut icon" href="favicon.ico" type="image/icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link type="text/css" href="css/styles.css" rel="stylesheet"><!-JS- jQuery -->
    <script src="js/jquery-3.2.1.min.js"></script><!-JS y CSS- jQuery UI-->
    <script src="js/jquery-ui.js"></script>
    <link rel="stylesheet" href="css/jquery-ui.css"><!-JS- Bootstrap -->
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="js/bootstrap-select.min.js"></script><!-JS- FontAwesome -->
    <script src="js/fontawesome.js"></script><!-JS- Common -->
    <script src="js/common.js"></script><!-CSS- Bootstrap -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"><!-CSS- Bootstrap -->
    <link rel="stylesheet" href="css/bootstrap-select.min.css"><!-CSS- Bootstrap -->
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  </head>
  <body>
    <header class="header">
      <div class="wrapper">
        <div class="img_container"><a href="index.html"><img src="img/logo.png" alt="logo Ria"></a></div><span class="hamburguesa">
          <div class="glyphicon glyphicon-menu-hamburger"></div></span>
        <div class="lang_select">
          <form>
            <fieldset>
              <div class="block_input country">
                <label for="pais">País de cambio</label>
                <select id="pais" data-width="100%" class="selectpicker">
                  <option data-icon="spain">Spain</option>
                  <option data-icon="francia">France</option>
                  <option data-icon="italia">Italy</option>
                  <option data-icon="gbp">United Kingdom</option>
                  <option data-icon="usd">United States</option>
                  <option data-icon="brl">Brasil</option>
                </select>
              </div>
              <div class="block_input lang">
                <label for="idioma">Idioma</label>
                <select id="idioma" data-width="100%" class="selectpicker">
                  <option>English</option>
                  <option>Spanish</option>
                  <option>French</option>
                  <option>Italian</option>
                </select>
              </div>
            </fieldset>
          </form>
        </div>
        <nav>
          <ul class="menu MenuClose">
            <li><a href="#" class="active">CAMBIO DE DIVISAS</a></li>
            <li><a href="oficinas.html">OFICINAS DE CAMBIO</a></li>
            <li><a href="atencionCliente.html">ATENCIÓN AL CLIENTE</a></li>
            <li><a href="servicios.html">SERVICIOS</a></li>
            <li><a href="#">SOBRE RIA</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <div class="subHeader"><img src="img/HEADER-CURRENCY.jpg" alt="img background for header"></div>
    <main id="contactoReserva" class="bodyContent">
      <div class="previousPage"><a href="oficinas.html" class="cont"><img src="img/btn_atras.png"></a>
        <h2>Datos de contacto</h2>
      </div>
      <h3>Por favor, necesitamos tus datos de contacto para poder realizar la reserva</h3>
      <div class="container-fluid">
        <div class="row">
          <div style="background-image: url('img/billets.jpg');" class="col-md-6 tradeInfo_block">
            <div class="background_cont">
              <div class="background">
                <div class="fila">
                  <div class="col enum">Cantidad a cambiar:</div>
                  <div class="col result">499,73€</div>
                </div>
                <div class="fila">
                  <div class="col enum">Cantidad a recibir:</div>
                  <div class="col result">569,00$</div>
                </div>
                <div class="fila">
                  <div class="col enum">Tasa de cambio:</div>
                  <div class="col result">1.1976</div>
                </div>
                <div class="fila last">
                  <div class="col enum">Oficina de cambio:</div>
                  <div class="col result">Puerta del sol, nº2. 28080</div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 infoForm_block">
            <form action="confirmacion.html">
              <fieldset>
                <div class="container-fluid">
                  <div class="row inputs">
                    <div class="col-lg-6 col">
                      <label for="name">Nombre</label>
                      <input id="name" type="text" class="selectEffect">
                    </div>
                    <div class="col-lg-6 col">
                      <label for="name2">Primer apellido</label>
                      <input id="name2" type="text" class="selectEffect">
                    </div>
                  </div>
                  <div class="row inputs">
                    <div class="col-lg-6 col">
                      <label for="email">Email</label>
                      <input id="email" type="text" class="selectEffect">
                    </div>
                    <div class="col-lg-6 col">
                      <label for="telefono">Teléfono</label>
                      <input id="telefono" type="text" class="selectEffect">
                    </div>
                  </div>
                  <div class="row inputs">
                    <div class="col-lg-6 col">
                      <label for="fechaDatepicker">Fecha de recogida</label>
                      <input id="fechaDatepicker" type="text" onchange="changeCalendar()" class="selectEffect">
                    </div>
                    <div class="col-lg-6 col">
                      <label for="ref" class="refNumber">Nº de referencia
                        <div class="extension">(agentes y tour operadores)</div>
                      </label>
                      <input id="ref" type="text" class="selectEffect">
                    </div>
                  </div>
                  <div class="row checkers">
                    <div class="col-lg-12 col">
                      <input id="CheckPolicy" type="checkbox" name="CheckPolicy" value="">
                      <label for="CheckPolicy">Acepto la&nbsp;<a href="#">política de privacidad</a></label>
                    </div>
                  </div>
                  <div class="row checkers">
                    <div class="col-lg-12 col">
                      <input id="CheckTerms" type="checkbox" name="CheckTerms" value="">
                      <label for="CheckTerms">Acepto los&nbsp;<a href="#">términos y condiciones</a></label>
                    </div>
                  </div>
                  <div class="row submit">
                    <div class="col-lg-12 col">
                      <input type="submit" value="Confirmar reserva">
                    </div>
                  </div>
                </div>
              </fieldset>
            </form>
          </div>
        </div>
      </div>
    </main>
    <footer class="footer">
      <div class="skyline"><img src="img/imgFooter.png" alt="Skyline"></div>
      <div class="wrapper">
        <div class="container-fluid">
          <div class="row">
            <div class="col-xs-3 col">
              <ul>
                <li><a href="#">Cambio de divisas</a></li>
                <li><a href="#">Oficinas de cambio</a></li>
                <li><a href="atencionCliente.html">Atención al cliente</a></li>
                <li><a href="servicioEmpresas.html">Servicio a empresas</a></li>
              </ul>
            </div>
            <div class="col-xs-3 col">
              <ul>
                <li><a href="servicios.html">Servicios</a></li>
                <li><a href="#">Sobre Ria</a></li>
                <li><a href="#">Términos y condiciones</a></li>
              </ul>
            </div>
            <div class="col-xs-3 col">
              <ul>
                <li>
                  <p>Contacto</p>
                </li>
                <li><a href="mailto:#">email@riacurency.es</a></li>
                <li><a href="tel:#">Tel: 91 761 37 62</a></li>
              </ul>
            </div>
            <div class="col-sm-3 col"><img src="img/logo.png" alt="logo Ria"></div>
          </div>
        </div>
      </div>
      <div class="decoration">© 2017 Ria</div>
    </footer>
  </body>
</html>

templates/contactoReserva.jade
//- index.jade
doctype html
html(lang="en")
  head
    title Ria Currency Exchange
    include partials/head.jade

  body
    include partials/header.jade
    include partials/subHeader.jade

    main.bodyContent#contactoReserva
      .previousPage
        a.cont(href="oficinas.html")
          img(src="img/btn_atras.png")
        h2 Datos de contacto

      h3 Por favor, necesitamos tus datos de contacto para poder realizar la reserva

      .container-fluid
        .row
          .col-md-6.tradeInfo_block(style="background-image: url('img/billets.jpg');")
            .background_cont
              .background
                .fila
                  .col.enum Cantidad a cambiar:
                  .col.result 499,73€
                .fila
                  .col.enum Cantidad a recibir:
                  .col.result 569,00$
                .fila
                  .col.enum Tasa de cambio:
                  .col.result 1.1976
                .fila.last
                  .col.enum Oficina de cambio:
                  .col.result Puerta del sol, nº2. 28080

          .col-md-6.infoForm_block
            form(action="confirmacion.html")
              fieldset
                .container-fluid
                  .row.inputs
                    .col-lg-6.col
                      label(for="name") Nombre
                      input#name.selectEffect(type="text")
                    .col-lg-6.col
                      label(for="name2") Primer apellido
                      input#name2.selectEffect(type="text")
                  .row.inputs
                    .col-lg-6.col
                      label(for="email") Email
                      input#email.selectEffect(type="text")
                    .col-lg-6.col
                      label(for="telefono") Teléfono
                      input#telefono.selectEffect(type="text")
                  .row.inputs
                    .col-lg-6.col
                      label(for="fechaDatepicker") Fecha de recogida
                      input#fechaDatepicker.selectEffect(type="text" onchange="changeCalendar()")
                    .col-lg-6.col
                      label.refNumber(for="ref") Nº de referencia
                        .extension (agentes y tour operadores)
                      input#ref.selectEffect(type="text")

                  .row.checkers
                    .col-lg-12.col
                      input#CheckPolicy(type="checkbox" name="CheckPolicy" value="")
                      label(for="CheckPolicy") Acepto la&nbsp;
                        a(href="#") política de privacidad
                  .row.checkers
                    .col-lg-12.col
                      input#CheckTerms(type="checkbox" name="CheckTerms" value="")
                      label(for="CheckTerms") Acepto los&nbsp;
                        a(href="#") términos y condiciones

                  .row.submit
                    .col-lg-12.col
                      input(type="submit" value="Confirmar reserva")

    include partials/footer.jade
