templates/oficinas.jade
//- index.jade
doctype html
html(lang="en")
  head
    title Ria Currency Exchange
    include partials/head.jade

  body
    include partials/header.jade
    include partials/subHeader.jade

    main.bodyContent.oficinas
      .previousPage
        a.cont(href="ciudades.html")
          img(src="img/btn_atras.png")
        h2 Selecciona la oficina donde quieres cambiar tu divisa

      form.adressSearcher
        fieldset
          a.find
            span.glyphicon.glyphicon-search
          input(type="text" value="Madrid, España")

      .container-fluid.mapZone
        .row
          .col-sm-6
            .mapa
              img(src="img/mapa.jpg" alt="Google maps")
          .col-sm-6
            .locations
              ul.filterList
                li
                  a Show All
                li
                  a.active SendLocation
                li
                  a PayoutLocation
                li
                  a CollectLocation
              .cardList
                .alert.alert-warning.noresults No locations found
                .vcardLocation
                  label
                    span 1
                  .adress
                    p.name DIA Madrid 26
                    p.street Castillo del Madrigal de las Altas Torres, 9 , Madrid ES
                  .services
                    ul
                      li
                        i.fa.fa-send
                        |Send Location
                      li
                        i.fa.fa-money
                        | Payout Location
                      li
                        i.fa.fa-ticket
                        | Collect Location
                  .distance
                    a(target="_blank" href="http://maps.google.es/?q=40.416775%20-3.70379") See in google maps
                    p Distance 24 meters

                .vcardLocation
                  label
                    span 2
                  .adress
                    p.name DIA Madrid 26
                    p.street Castillo del Madrigal de las Altas Torres, 9 , Madrid ES
                  .services
                    ul
                      li
                        i.fa.fa-send
                        | Send Location
                      li
                        i.fa.fa-money
                        | Payout Location
                      li
                        i.fa.fa-ticket
                        | Collect Location
                  .distance
                    a(target="_blank" href="http://maps.google.es/?q=40.416775%20-3.70379") See in google maps
                    p Distance 24 meters


                .vcardLocation
                  label
                    span 3
                  .adress
                    p.name DIA Madrid 26
                    p.street Castillo del Madrigal de las Altas Torres, 9 , Madrid ES
                  .services
                    ul
                      li
                        i.fa.fa-send
                        | Send Location
                      li
                        i.fa.fa-money
                        | Payout Location
                      li
                        i.fa.fa-ticket
                        | Collect Location
                  .distance
                    a(target="_blank" href="http://maps.google.es/?q=40.416775%20-3.70379") See in google maps
                    p Distance 24 meters

                .vcardLocation
                  label
                    span 4
                  .adress
                    p.name DIA Madrid 26
                    p.street Castillo del Madrigal de las Altas Torres, 9 , Madrid ES
                  .services
                    ul
                      li
                        i.fa.fa-send
                        | Send Location
                      li
                        i.fa.fa-money
                        | Payout Location
                      li
                        i.fa.fa-ticket
                        | Collect Location
                  .distance
                    a(target="_blank" href="http://maps.google.es/?q=40.416775%20-3.70379") See in google maps
                    p Distance 24 meters


                .vcardLocation
                  label
                    span 5
                  .adress
                    p.name DIA Madrid 26
                    p.street Castillo del Madrigal de las Altas Torres, 9 , Madrid ES
                  .services
                    ul
                      li
                        i.fa.fa-send
                        | Send Location
                      li
                        i.fa.fa-money
                        | Payout Location
                      li
                        i.fa.fa-ticket
                        | Collect Location
                  .distance
                    a(target="_blank" href="http://maps.google.es/?q=40.416775%20-3.70379") See in google maps
                    p Distance 24 meters

                .vcardLocation
                  label
                    span 6
                  .adress
                    p.name DIA Madrid 26
                    p.street Castillo del Madrigal de las Altas Torres, 9 , Madrid ES
                  .services
                    ul
                      li
                        i.fa.fa-send
                        | Send Location
                      li
                        i.fa.fa-money
                        | Payout Location
                      li
                        i.fa.fa-ticket
                        | Collect Location
                  .distance
                    a(target="_blank" href="http://maps.google.es/?q=40.416775%20-3.70379") See in google maps
                    p Distance 24 meters


                .vcardLocation
                  label
                    span 7
                  .adress
                    p.name DIA Madrid 26
                    p.street Castillo del Madrigal de las Altas Torres, 9 , Madrid ES
                  .services
                    ul
                      li
                        i.fa.fa-send
                        | Send Location
                      li
                        i.fa.fa-money
                        | Payout Location
                      li
                        i.fa.fa-ticket
                        | Collect Location
                  .distance
                    a(target="_blank" href="http://maps.google.es/?q=40.416775%20-3.70379") See in google maps
                    p Distance 24 meters

                .vcardLocation
                  label
                    span 8
                  .adress
                    p.name DIA Madrid 26
                    p.street Castillo del Madrigal de las Altas Torres, 9 , Madrid ES
                  .services
                    ul
                      li
                        i.fa.fa-send
                        | Send Location
                      li
                        i.fa.fa-money
                        | Payout Location
                      li
                        i.fa.fa-ticket
                        | Collect Location
                  .distance
                    a(target="_blank" href="http://maps.google.es/?q=40.416775%20-3.70379") See in google maps
                    p Distance 24 meters



        .row
          .col-sm-12
            .acceptOffice
              a(href="contactoReserva.html") RESERVAR DIVISA

    include partials/footer.jade

dist/oficinas.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Ria Currency Exchange</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="initial-scale=1.0, width=device-width">
    <link rel="shortcut icon" href="favicon.ico" type="image/icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link type="text/css" href="css/styles.css" rel="stylesheet"><!-JS- jQuery -->
    <script src="js/jquery-3.2.1.min.js"></script><!-JS y CSS- jQuery UI-->
    <script src="js/jquery-ui.js"></script>
    <link rel="stylesheet" href="css/jquery-ui.css"><!-JS- Bootstrap -->
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="js/bootstrap-select.min.js"></script><!-JS- FontAwesome -->
    <script src="js/fontawesome.js"></script><!-JS- Common -->
    <script src="js/common.js"></script><!-CSS- Bootstrap -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"><!-CSS- Bootstrap -->
    <link rel="stylesheet" href="css/bootstrap-select.min.css"><!-CSS- Bootstrap -->
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  </head>
  <body>
    <header class="header">
      <div class="wrapper">
        <div class="img_container"><a href="index.html"><img src="img/logo.png" alt="logo Ria"></a></div><span class="hamburguesa">
          <div class="glyphicon glyphicon-menu-hamburger"></div></span>
        <div class="lang_select">
          <form>
            <fieldset>
              <div class="block_input country">
                <label for="pais">País de cambio</label>
                <select id="pais" data-width="100%" class="selectpicker">
                  <option data-icon="spain">Spain</option>
                  <option data-icon="francia">France</option>
                  <option data-icon="italia">Italy</option>
                  <option data-icon="gbp">United Kingdom</option>
                  <option data-icon="usd">United States</option>
                  <option data-icon="brl">Brasil</option>
                </select>
              </div>
              <div class="block_input lang">
                <label for="idioma">Idioma</label>
                <select id="idioma" data-width="100%" class="selectpicker">
                  <option>English</option>
                  <option>Spanish</option>
                  <option>French</option>
                  <option>Italian</option>
                </select>
              </div>
            </fieldset>
          </form>
        </div>
        <nav>
          <ul class="menu MenuClose">
            <li><a href="#" class="active">CAMBIO DE DIVISAS</a></li>
            <li><a href="oficinas.html">OFICINAS DE CAMBIO</a></li>
            <li><a href="atencionCliente.html">ATENCIÓN AL CLIENTE</a></li>
            <li><a href="servicios.html">SERVICIOS</a></li>
            <li><a href="#">SOBRE RIA</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <div class="subHeader"><img src="img/HEADER-CURRENCY.jpg" alt="img background for header"></div>
    <main class="bodyContent oficinas">
      <div class="previousPage"><a href="ciudades.html" class="cont"><img src="img/btn_atras.png"></a>
        <h2>Selecciona la oficina donde quieres cambiar tu divisa</h2>
      </div>
      <form class="adressSearcher">
        <fieldset><a class="find"><span class="glyphicon glyphicon-search"></span></a>
          <input type="text" value="Madrid, España">
        </fieldset>
      </form>
      <div class="container-fluid mapZone">
        <div class="row">
          <div class="col-sm-6">
            <div class="mapa"><img src="img/mapa.jpg" alt="Google maps"></div>
          </div>
          <div class="col-sm-6">
            <div class="locations">
              <ul class="filterList">
                <li><a>Show All</a></li>
                <li><a class="active">SendLocation</a></li>
                <li><a>PayoutLocation</a></li>
                <li><a>CollectLocation</a></li>
              </ul>
              <div class="cardList">
                <div class="alert alert-warning noresults">No locations found</div>
                <div class="vcardLocation">
                  <label><span>1</span></label>
                  <div class="adress">
                    <p class="name">DIA Madrid 26</p>
                    <p class="street">Castillo del Madrigal de las Altas Torres, 9 , Madrid ES</p>
                  </div>
                  <div class="services">
                    <ul>
                      <li><i class="fa fa-send"></i>Send Location</li>
                      <li><i class="fa fa-money"></i>Payout Location</li>
                      <li><i class="fa fa-ticket"></i>Collect Location</li>
                    </ul>
                  </div>
                  <div class="distance"><a target="_blank" href="http://maps.google.es/?q=40.416775%20-3.70379">See in google maps</a>
                    <p>Distance 24 meters</p>
                  </div>
                </div>
                <div class="vcardLocation">
                  <label><span>2</span></label>
                  <div class="adress">
                    <p class="name">DIA Madrid 26</p>
                    <p class="street">Castillo del Madrigal de las Altas Torres, 9 , Madrid ES</p>
                  </div>
                  <div class="services">
                    <ul>
                      <li><i class="fa fa-send"></i>Send Location</li>
                      <li><i class="fa fa-money"></i>Payout Location</li>
                      <li><i class="fa fa-ticket"></i>Collect Location</li>
                    </ul>
                  </div>
                  <div class="distance"><a target="_blank" href="http://maps.google.es/?q=40.416775%20-3.70379">See in google maps</a>
                    <p>Distance 24 meters</p>
                  </div>
                </div>
                <div class="vcardLocation">
                  <label><span>3</span></label>
                  <div class="adress">
                    <p class="name">DIA Madrid 26</p>
                    <p class="street">Castillo del Madrigal de las Altas Torres, 9 , Madrid ES</p>
                  </div>
                  <div class="services">
                    <ul>
                      <li><i class="fa fa-send"></i>Send Location</li>
                      <li><i class="fa fa-money"></i>Payout Location</li>
                      <li><i class="fa fa-ticket"></i>Collect Location</li>
                    </ul>
                  </div>
                  <div class="distance"><a target="_blank" href="http://maps.google.es/?q=40.416775%20-3.70379">See in google maps</a>
                    <p>Distance 24 meters</p>
                  </div>
                </div>
                <div class="vcardLocation">
                  <label><span>4</span></label>
                  <div class="adress">
                    <p class="name">DIA Madrid 26</p>
                    <p class="street">Castillo del Madrigal de las Altas Torres, 9 , Madrid ES</p>
                  </div>
                  <div class="services">
                    <ul>
                      <li><i class="fa fa-send"></i>Send Location</li>
                      <li><i class="fa fa-money"></i>Payout Location</li>
                      <li><i class="fa fa-ticket"></i>Collect Location</li>
                    </ul>
                  </div>
                  <div class="distance"><a target="_blank" href="http://maps.google.es/?q=40.416775%20-3.70379">See in google maps</a>
                    <p>Distance 24 meters</p>
                  </div>
                </div>
                <div class="vcardLocation">
                  <label><span>5</span></label>
                  <div class="adress">
                    <p class="name">DIA Madrid 26</p>
                    <p class="street">Castillo del Madrigal de las Altas Torres, 9 , Madrid ES</p>
                  </div>
                  <div class="services">
                    <ul>
                      <li><i class="fa fa-send"></i>Send Location</li>
                      <li><i class="fa fa-money"></i>Payout Location</li>
                      <li><i class="fa fa-ticket"></i>Collect Location</li>
                    </ul>
                  </div>
                  <div class="distance"><a target="_blank" href="http://maps.google.es/?q=40.416775%20-3.70379">See in google maps</a>
                    <p>Distance 24 meters</p>
                  </div>
                </div>
                <div class="vcardLocation">
                  <label><span>6</span></label>
                  <div class="adress">
                    <p class="name">DIA Madrid 26</p>
                    <p class="street">Castillo del Madrigal de las Altas Torres, 9 , Madrid ES</p>
                  </div>
                  <div class="services">
                    <ul>
                      <li><i class="fa fa-send"></i>Send Location</li>
                      <li><i class="fa fa-money"></i>Payout Location</li>
                      <li><i class="fa fa-ticket"></i>Collect Location</li>
                    </ul>
                  </div>
                  <div class="distance"><a target="_blank" href="http://maps.google.es/?q=40.416775%20-3.70379">See in google maps</a>
                    <p>Distance 24 meters</p>
                  </div>
                </div>
                <div class="vcardLocation">
                  <label><span>7</span></label>
                  <div class="adress">
                    <p class="name">DIA Madrid 26</p>
                    <p class="street">Castillo del Madrigal de las Altas Torres, 9 , Madrid ES</p>
                  </div>
                  <div class="services">
                    <ul>
                      <li><i class="fa fa-send"></i>Send Location</li>
                      <li><i class="fa fa-money"></i>Payout Location</li>
                      <li><i class="fa fa-ticket"></i>Collect Location</li>
                    </ul>
                  </div>
                  <div class="distance"><a target="_blank" href="http://maps.google.es/?q=40.416775%20-3.70379">See in google maps</a>
                    <p>Distance 24 meters</p>
                  </div>
                </div>
                <div class="vcardLocation">
                  <label><span>8</span></label>
                  <div class="adress">
                    <p class="name">DIA Madrid 26</p>
                    <p class="street">Castillo del Madrigal de las Altas Torres, 9 , Madrid ES</p>
                  </div>
                  <div class="services">
                    <ul>
                      <li><i class="fa fa-send"></i>Send Location</li>
                      <li><i class="fa fa-money"></i>Payout Location</li>
                      <li><i class="fa fa-ticket"></i>Collect Location</li>
                    </ul>
                  </div>
                  <div class="distance"><a target="_blank" href="http://maps.google.es/?q=40.416775%20-3.70379">See in google maps</a>
                    <p>Distance 24 meters</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="acceptOffice"><a href="contactoReserva.html">RESERVAR DIVISA</a></div>
          </div>
        </div>
      </div>
    </main>
    <footer class="footer">
      <div class="skyline"><img src="img/imgFooter.png" alt="Skyline"></div>
      <div class="wrapper">
        <div class="container-fluid">
          <div class="row">
            <div class="col-xs-3 col">
              <ul>
                <li><a href="#">Cambio de divisas</a></li>
                <li><a href="#">Oficinas de cambio</a></li>
                <li><a href="atencionCliente.html">Atención al cliente</a></li>
                <li><a href="servicioEmpresas.html">Servicio a empresas</a></li>
              </ul>
            </div>
            <div class="col-xs-3 col">
              <ul>
                <li><a href="servicios.html">Servicios</a></li>
                <li><a href="#">Sobre Ria</a></li>
                <li><a href="#">Términos y condiciones</a></li>
              </ul>
            </div>
            <div class="col-xs-3 col">
              <ul>
                <li>
                  <p>Contacto</p>
                </li>
                <li><a href="mailto:#">email@riacurency.es</a></li>
                <li><a href="tel:#">Tel: 91 761 37 62</a></li>
              </ul>
            </div>
            <div class="col-sm-3 col"><img src="img/logo.png" alt="logo Ria"></div>
          </div>
        </div>
      </div>
      <div class="decoration">© 2017 Ria</div>
    </footer>
  </body>
</html>
