dist/servicios.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Ria Currency Exchange</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="initial-scale=1.0, width=device-width">
    <link rel="shortcut icon" href="favicon.ico" type="image/icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link type="text/css" href="css/styles.css" rel="stylesheet"><!-JS- jQuery -->
    <script src="js/jquery-3.2.1.min.js"></script><!-JS y CSS- jQuery UI-->
    <script src="js/jquery-ui.js"></script>
    <link rel="stylesheet" href="css/jquery-ui.css"><!-JS- Bootstrap -->
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="js/bootstrap-select.min.js"></script><!-JS- FontAwesome -->
    <script src="js/fontawesome.js"></script><!-JS- Common -->
    <script src="js/common.js"></script><!-CSS- Bootstrap -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"><!-CSS- Bootstrap -->
    <link rel="stylesheet" href="css/bootstrap-select.min.css"><!-CSS- Bootstrap -->
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  </head>
  <body>
    <header class="header">
      <div class="wrapper">
        <div class="img_container"><a href="index.html"><img src="img/logo.png" alt="logo Ria"></a></div><span class="hamburguesa">
          <div class="glyphicon glyphicon-menu-hamburger"></div></span>
        <div class="lang_select">
          <form>
            <fieldset>
              <div class="block_input country">
                <label for="pais">País de cambio</label>
                <select id="pais" data-width="100%" class="selectpicker">
                  <option data-icon="spain">Spain</option>
                  <option data-icon="francia">France</option>
                  <option data-icon="italia">Italy</option>
                  <option data-icon="gbp">United Kingdom</option>
                  <option data-icon="usd">United States</option>
                  <option data-icon="brl">Brasil</option>
                </select>
              </div>
              <div class="block_input lang">
                <label for="idioma">Idioma</label>
                <select id="idioma" data-width="100%" class="selectpicker">
                  <option>English</option>
                  <option>Spanish</option>
                  <option>French</option>
                  <option>Italian</option>
                </select>
              </div>
            </fieldset>
          </form>
        </div>
        <nav>
          <ul class="menu MenuClose">
            <li><a href="#" class="active">CAMBIO DE DIVISAS</a></li>
            <li><a href="oficinas.html">OFICINAS DE CAMBIO</a></li>
            <li><a href="atencionCliente.html">ATENCIÓN AL CLIENTE</a></li>
            <li><a href="servicios.html">SERVICIOS</a></li>
            <li><a href="#">SOBRE RIA</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <div class="subHeader"><img src="img/HEADER-CURRENCY.jpg" alt="img background for header"></div>
    <main id="servicios" class="bodyContent">
      <h1>Nuestros servicios</h1>
      <section class="orangeBox">
        <h3>Somos Ria</h3>
        <p>La tercera compañía de transferencias de dinero más grande del mundo y parte de una industría que mueve más de 600 mil millones de dólares anuales.</p>
        <p>en este momento, el área de compra y venta de billetes extranjeros de la compañía da servicio tanto en tiendas propias, como a través de la web a más de 1.000.000 de clientes anualmente.</p>
        <p>Damos este servicio en más de 70 puntos de venta a disposición de nuestros clientes y en las ubicaciones más céntricas de las principales ciudades europeas.</p>
      </section>
      <section class="carrouselServicios container-fluid"><a href="#" class="glyphicon glyphicon-chevron-left"></a><a href="#" class="glyphicon glyphicon-chevron-right"></a>
        <div class="row">
          <div class="serviceBlock col-md-4"><img src="img/1.png">
            <p class="name">Cambio de moneda extranjera</p>
            <p class="desc">Ria ofrece más de 60 diferentes tipos de monedas, principalmente: dólares, libras, yenes, francos, dírhams, pesos, coronas, entre otros. Nuestro servicio de reservas de divisa on-line, le facilita el acceso a estas monedas pudiendo retirarlas en cualquiera de nuestras tiendas autorizadas o para su mayor comodidad las puede recibir en su domicilio, centro de trabajo o dónde nos lo indique.</p>
          </div>
          <div class="serviceBlock col-md-4"><img src="img/2.png">
            <p class="name">Envío de dinero</p>
            <p class="desc">Con más de 25 años de experiencia en el sector de los envíos de dinero, Ria es una empresa líder en el sector de las transferencias internacionales. Con una red de más de 316.000 puntos a nivel mundial, llegamos a casi todos los destinos que nuestros clientes necesitan, haciendo llegar su dinero de la forma más rápida, segura y económica.</p>
          </div>
          <div class="serviceBlock col-md-4"><img src="img/3.png">
            <p class="name">Canjeo de travel checks</p>
            <p class="desc">Puede canjear sus cheques viajeros de American Express en cualquiera de nuestras tiendas Ria y recibir sus euros, dólares o libras con total comodidad y confianza en España.</p>
          </div>
        </div>
      </section>
    </main>
    <footer class="footer">
      <div class="skyline"><img src="img/imgFooter.png" alt="Skyline"></div>
      <div class="wrapper">
        <div class="container-fluid">
          <div class="row">
            <div class="col-xs-3 col">
              <ul>
                <li><a href="#">Cambio de divisas</a></li>
                <li><a href="#">Oficinas de cambio</a></li>
                <li><a href="atencionCliente.html">Atención al cliente</a></li>
                <li><a href="servicioEmpresas.html">Servicio a empresas</a></li>
              </ul>
            </div>
            <div class="col-xs-3 col">
              <ul>
                <li><a href="servicios.html">Servicios</a></li>
                <li><a href="#">Sobre Ria</a></li>
                <li><a href="#">Términos y condiciones</a></li>
              </ul>
            </div>
            <div class="col-xs-3 col">
              <ul>
                <li>
                  <p>Contacto</p>
                </li>
                <li><a href="mailto:#">email@riacurency.es</a></li>
                <li><a href="tel:#">Tel: 91 761 37 62</a></li>
              </ul>
            </div>
            <div class="col-sm-3 col"><img src="img/logo.png" alt="logo Ria"></div>
          </div>
        </div>
      </div>
      <div class="decoration">© 2017 Ria</div>
    </footer>
  </body>
</html>

templates/servicios.jade
//- index.jade
doctype html
html(lang="en")
  head
    title Ria Currency Exchange
    include partials/head.jade

  body
    include partials/header.jade
    include partials/subHeader.jade


    main.bodyContent#servicios

      h1 Nuestros servicios

      section.orangeBox
        h3 Somos Ria
        p La tercera compañía de transferencias de dinero más grande del mundo y parte de una industría que mueve más de 600 mil millones de dólares anuales.
        p en este momento, el área de compra y venta de billetes extranjeros de la compañía da servicio tanto en tiendas propias, como a través de la web a más de 1.000.000 de clientes anualmente.
        p Damos este servicio en más de 70 puntos de venta a disposición de nuestros clientes y en las ubicaciones más céntricas de las principales ciudades europeas.

      section.carrouselServicios.container-fluid
        a(href="#").glyphicon.glyphicon-chevron-left
        a(href="#").glyphicon.glyphicon-chevron-right
        .row
          .serviceBlock.col-md-4
            img(src="img/1.png")
            p.name Cambio de moneda extranjera
            p.desc Ria ofrece más de 60 diferentes tipos de monedas, principalmente: dólares, libras, yenes, francos, dírhams, pesos, coronas, entre otros. Nuestro servicio de reservas de divisa on-line, le facilita el acceso a estas monedas pudiendo retirarlas en cualquiera de nuestras tiendas autorizadas o para su mayor comodidad las puede recibir en su domicilio, centro de trabajo o dónde nos lo indique.
          .serviceBlock.col-md-4
            img(src="img/2.png")
            p.name Envío de dinero
            p.desc Con más de 25 años de experiencia en el sector de los envíos de dinero, Ria es una empresa líder en el sector de las transferencias internacionales. Con una red de más de 316.000 puntos a nivel mundial, llegamos a casi todos los destinos que nuestros clientes necesitan, haciendo llegar su dinero de la forma más rápida, segura y económica.
          .serviceBlock.col-md-4
            img(src="img/3.png")
            p.name Canjeo de travel checks
            p.desc Puede canjear sus cheques viajeros de American Express en cualquiera de nuestras tiendas Ria y recibir sus euros, dólares o libras con total comodidad y confianza en España.

    include partials/footer.jade
